Jay Gambetta <jay.gambetta@us.ibm.com>
Matthew Treinish <mtreinish@kortar.org>
Paul Kassebaum <paul.kassebaum@ibm.com>
Diego M. Rodríguez <diego.plan9@gmail.com>
Ali Javadi-Abhari <ajavadia@users.noreply.github.com>
Shaohan Hu <hushaohan@gmail.com>
Diego M. Rodriguez <diego.plan9@gmail.com>
Carlos Azaustre <cazaustre@gmail.com>
Salvador de la Puente González <salva@unoyunodiez.com>
SooluThomas <soolu.elto@gmail.com>
Marco Pistoia <mpistoia@gmail.com>
Salvador de la Puente González <neo.salvador@gmail.com>
Carlos Azaustre <carlos.azaustre@ibm.com>
David McKay <dcmckay@us.ibm.com>
Paul Nation <nonhermitian@gmail.com>
Shaohan Hu <shaohan.hu@ibm.com>
Travis L. Scholten <travisscholten@protonmail.com>
Yehuda Naveh <naveh@il.ibm.com>
Laura Zdanski <Laura.Zdanski@ibm.com>
Juan Gomez <atilag@gmail.com>
Simone Perriello <simone.perriello@protonmail.com>
Albert Frisch <albert.frisch@de.ibm.com>
yaelbh <yaelbh@il.ibm.com>
Albert Frisch <alfr@de.ibm.com>
Alejandro Pozas-Kerstjens <apozas@users.noreply.github.com>
Christopher J. Wood <cjwood@us.ibm.com>
HNorlen <hnorlen@us.ibm.com>
Juan Cruz-Benito <juan.cruz@ibm.com>
Maddy Tod <40489777+maddy-tod@users.noreply.github.com>
Marco Pistoia <pistoia@us.ibm.com>
Matthieu Dartiailh <marul@laposte.net>
Richard Chen <chunfuchen@users.noreply.github.com>
RohitMidha23 <38888530+RohitMidha23@users.noreply.github.com>
Shelly Garion <46566946+ShellyGarion@users.noreply.github.com>
Steven Oud <soud@pm.me>
Travis L. Scholten <Travis.Scholten@ibm.com>
Zlatko Minev <zminev@gmail.com>
Zoufalc <40824883+Zoufalc@users.noreply.github.com>
cclauss <cclauss@me.com>
derivation <paul.kassebaum@ibm.com>
gadial <gadial@gmail.com>
lerongil <leron_1234@yahoo.com>
ryan-woo <cellogamer@gmail.com>
