qiskit-ibmq-provider[visualization]
numpy>=1.17
Sphinx>=6.0
qiskit-sphinx-theme~=1.13.0rc1
pylatexenc>=1.4
sphinx-automodapi
jupyter
sphinx-design
matplotlib>=3.3.0
pydot
ipywidgets>=7.3
pillow>=4.2.1
seaborn>=0.9.0
nbsphinx
cvxpy
# Tweedledum is still used by qiskit-tutorials: 07_grover_examples.ipynb. While we won't eagerly
# error if Tweedledum is missing, the tutorial output will be empty.
tweedledum>=1.0.0,<2.0.0; python_version < '3.11' and platform_system != "Darwin"
networkx>=2.3
qiskit-qasm3-import; python_version>'3.7'

# Dev tooling
black~=23.3
isort~=5.11
