numpy>=1.17
Sphinx~=4.0
qiskit-sphinx-theme>=1.10.0
sphinx-autodoc-typehints>=1.8.0
pylatexenc>=1.4
sphinx-automodapi
jupyter
jupyter-sphinx
sphinx-design
sphinx-gallery
matplotlib>=3.3.0
pydot
ipywidgets>=7.3
pillow>=4.2.1
seaborn>=0.9.0
nbsphinx
cvxpy
networkx>=2.3
sphinx-reredirects
