@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700,700i&display=swap');

body {
    font-family: "IBM Plex Sans", sans-serif;
}

.fa {
    /* FontAwesome is loaded after everything else, taking precedence on
    the previous definition. Avoiding !important would require to replicate
    the breadcrumbs.html Jinja template for fixing the way the link
    "Edit on GitHub" is built. */
    font-family: "IBM Plex Sans", sans-serif !important;
}

.wy-nav-content {
    max-width: 90% !important;
}

.wy-nav-side {
    background: #8c8c8c;
}

.wy-nav-top {
    background: #212121;
}

.rst-content tt.xref,
a .rst-content tt,
.rst-content tt.xref,
.rst-content code.xref,
a .rst-content tt,
a .rst-content code {
    color: #a51920;
}

/* override table width restrictions */
@media screen and (min-width: 767px) {

    .wy-table-responsive table td {
        white-space: normal;
    }

    .wy-table-responsive {
        overflow: visible;
    }
}

.pre
{
color:#BE8184;
}
